<html>
       <head>
                     <title>ADMINISTER Pragprog Books Online Store</title>
                     <%= stylesheet_link_tag "scaffold", "depot", "admin", :media => "all" %>
       </head>
       <body>
       <div id="banner">
                     <%= @page_title || "Administer Bookshelf" %>
       </div>
       <div id="columns">
                     <div id="side">
                                   <%= link_to("Products", :action => "list") %>
                                   <%= link_to("Shipping", :action => "ship") %>
                     </div>
                     <div id="main">
                                   <% if @flash[:notice] -%>
                                                 <div id="notice"><%= @flash[:notice] %></div>
                                   <% end -%>
                                   <%= @content_for_layout %>
                     </div>
       </div>
       </body>
</html>